@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply dark:bg-trueGray-900;
    scroll-behavior: smooth;
  }
  @media (min-width: 1536px) {
    .container {
      max-width: 1320px !important;
    }
  }
}


.listStyle-1 li {
	position: relative;
	padding-left: 20px;
}
.listStyle-1 li::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background-color: #0000ff;
    position: absolute;
    left: 0;
    top: 7px;
}