@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply dark:bg-trueGray-900;
    scroll-behavior: smooth;
  }
  @media (min-width: 1536px) {
    .container {
      max-width: 1320px !important;
    }
  }
}


.listStyle-1 li {
	position: relative;
	padding-left: 20px;
}
.listStyle-1 li::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background-color: #0000ff;
    position: absolute;
    left: 0;
    top: 7px;
}

.globe {
  height: 350px;
  width: auto;
  cursor: grab;
}

.globe--dragging {
  cursor: grabbing;
}

.blogSummay h1,
.blogSummay h2,
.blogSummay h3,
.blogSummay h4,
.blogSummay h5,
.blogSummay h6 {
  font-weight: 700;
  margin-bottom: 10px;
}
.blogSummay h1 {
  font-size: 40px;
}
.blogSummay h2 {
  font-size: 32px;
}
.blogSummay h3 {
  font-size: 26px;
}
.blogSummay h4 {
  font-size: 22px;
}
.blogSummay h5 {
  font-size: 20px;
}
.blogSummay h6 {
  font-size: 18px;
}
.blogSummay p {
  font-size: 14px;
  margin-bottom: 15px;
}
.blogSummay a {
  text-decoration: underline;
}
.blogSummay a:hover {
  text-decoration: none;
}
.blogSummay ol {
  list-style: auto;
  padding-left: 20px;
  margin-bottom: 10px;
}



@keyframes roundandround {
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}

.scene {
  width: 350px;
  height: 350px;
  perspective: 1000px;
}
.wrapper {
  width:100%;
  height:100%;
  transform: rotateX(45deg) rotateY(45deg);
  transform-style: preserve-3d;
}
.ball {
  position: relative;
  width: 100%;
  height: 100%;
  margin:0 auto;
  transform-style:  preserve-3d;
  animation: roundandround 7.5s 1.3s infinite linear;
}
.ball .ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border:6px;
  border-style: dashed;
  border-radius: 50%;
  opacity: 0;
  animation: show 0.75s forwards ease-in-out;
}
.ring:nth-child(1) {
  color:#fff;
  transform: rotateY(4deg);
  animation-delay: 0s;
}
.ring:nth-child(2) {
  color:#fff;
  transform: rotateY(8deg);
  animation-delay: 0.1s;
}
.ring:nth-child(3) {
  color:#fff;
  transform: rotateY(12deg);
  animation-delay: 0.2s;
}
.ring:nth-child(4) {
  color:#fff;
  transform: rotateY(16deg);
  animation-delay: 0.3s;
}
.ring:nth-child(5) {
  color:#fff;
  transform: rotateY(20deg);
  animation-delay: 0.4s;
}
.ring:nth-child(6) {
  color:#fff;
  transform: rotateY(24deg);
  animation-delay: 0.5s;
}
.ring:nth-child(7) {
  color:#fff;
  transform: rotateY(28deg);
  animation-delay: 0.6s;
}
.ring:nth-child(8) {
  color:#fff;
  transform: rotateY(32deg);
  animation-delay: 0.7s;
}
.ring:nth-child(9) {
  color:#fff;
  transform: rotateY(36deg);
  animation-delay: 0.8s;
}
.ring:nth-child(10) {
  color:#fff;
  transform: rotateY(40deg);
  animation-delay: 0.9s;
}
.ring:nth-child(11) {
  color:#fff;
  transform: rotateY(44deg);
  animation-delay: 1s;
}
.ring:nth-child(12) {
  color:#fff;
  transform: rotateY(48deg);
  animation-delay: 1.1s;
}
.ring:nth-child(13) {
  color:#fff;
  transform: rotateY(52deg);
  animation-delay: 1s;
}
.ring:nth-child(14) {
  color:#4657fe;
  transform: rotateY(56deg);
  animation-delay: 0.9s;
}
.ring:nth-child(15) {
  color:#4657fe;
  transform: rotateY(60deg);
  animation-delay: 0.8s;
}
.ring:nth-child(16) {
  color:#4657fe;
  transform: rotateY(64deg);
  animation-delay: 0.7s;
}
.ring:nth-child(17) {
  color:#4657fe;
  transform: rotateY(68deg);
  animation-delay: 0.6s;
}
.ring:nth-child(18) {
  color:#4657fe;
  transform: rotateY(72deg);
  animation-delay: 0.5s;
}
.ring:nth-child(19) {
  color:#4657fe;
  transform: rotateY(76deg);
  animation-delay: 0.4s;
}
.ring:nth-child(20) {
  color:#4657fe;
  transform: rotateY(80deg);
  animation-delay: 0.3s;
}
.ring:nth-child(21) {
  color:#4657fe;
  transform: rotateY(84deg);
  animation-delay: 0.2s;
}
.ring:nth-child(22) {
  color:#425cfe;
  transform: rotateY(88deg);
  animation-delay: 0.1s;
}
.ring:nth-child(23) {
  color:#2f77fb;
  transform: rotateY(92deg);
  animation-delay: 0s;
}
.rotateAnimation-X {
  transform-style:  preserve-3d;
  animation: rotateAnimation-X 7.5s 1.3s infinite linear;
}
@keyframes rotateAnimation-X {
  to {
    transform: rotateX(360deg);
  }
}
.rotateAnimation-Y {
  transform-style:  preserve-3d;
  animation: rotateAnimation-Y 7.5s 1.3s infinite linear;
}
@keyframes rotateAnimation-Y {
  to {
    transform: rotateY(360deg);
  }
}



@media (max-width: 991.98px) {
  .scene {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 767.98px) {
  .scene {
    width: 220px;
    height: 220px;
  }
}